{
  "name": "less",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "mixins.less",
      "imports": [
        "mixins/hide-text.less",
        "mixins/responsive-visibility.less",
        "mixins/opacity.less",
        "mixins/image.less",
        "mixins/tab-focus.less",
        "mixins/text-emphasis.less",
        "mixins/text-overflow.less",
        "mixins/vendor-prefixes.less",
        "mixins/vendor.less",
        "mixins/forms.less",
        "mixins/buttons.less",
        "mixins/background-variant.less",
        "mixins/border-radius.less",
        "mixins/gradients.less",
        "mixins/clearfix.less",
        "mixins/center-block.less",
        "mixins/grid-framework.less",
        "mixins/grid.less"
      ]
    },
    {
      "path": "noo.less",
      "imports": [
        "variables.less",
        "mixins.less",
        "normalize.less",
        "font-family.less",
        "scaffolding.less",
        "type.less",
        "code.less",
        "grid.less",
        "forms.less",
        "buttons.less",
        "button-groups.less",
        "responsive-embed.less",
        "utilities.less",
        "responsive-utilities.less",
        "pagination.less",
        "wysihtml5.less",
        "wordpress.less",
        "header.less",
        "content.less",
        "blog.less",
        "footer.less",
        "widget.less",
        "lightgallery.less",
        "properties/submit-property.less",
        "properties/map.less",
        "properties/list-property.less",
        "properties/single-property.less",
        "properties/comment-property.less",
        "properties/rating.less",
        "properties/compare-listing.less",
        "properties/slider-price.less",
        "properties/page-half-map.less",
        "properties/saved-search.less",
        "agent/agent-profile.less",
        "agent/agent-dashboard.less",
        "agent/agent-list.less",
        "agent/agent-grid.less",
        "agent/noo-login.less",
        "login-register.less",
        "plugin/wpcf7.less",
        "noo-upload.less",
        "responsive.less",
        "shortcode/title.less",
        "shortcode/noo-testimonial.less",
        "shortcode/noo-partner.less",
        "shortcode/noo-gallery.less",
        "shortcode/noo-mailchimp.less",
        "shortcode/noo-hotline.less",
        "shortcode/noo-pricing-table.less",
        "shortcode/noo-advanced-search-property.less",
        "shortcode/noo-recent-propery.less",
        "shortcode/noo-service.less",
        "shortcode/noo-agent.less",
        "shortcode/noo-about-property.less",
        "shortcode/noo-featured.less",
        "shortcode/noo-property-detail.less",
        "shortcode/noo-floor-plan.less",
        "shortcode/noo-single-agent.less",
        "shortcode/noo-ads-banner.less",
        "shortcode/noo-single-property-banner.less",
        "shortcode/noo-property-banner.less",
        "shortcode/noo-fix-row.less",
        "shortcode/noo-progress.less",
        "shortcode/noo-about.less",
        "shortcode/noo-video.less",
        "shortcode/noo-faq.less",
        "shortcode/noo-info.less",
        "shortcode/noo-map.less",
        "3rd-party/autocomplete.less",
        "widgets/recent-property.less",
        "widgets/widget-nav-menu.less",
        "widgets/advanced-search-property.less",
        "widgets/widget-post-slider.less",
        "hacking.less",
        "print.less",
        "custom-visual.less",
        "variables/variables-core.less",
        "mixins/hide-text.less",
        "mixins/responsive-visibility.less",
        "mixins/opacity.less",
        "mixins/image.less",
        "mixins/tab-focus.less",
        "mixins/text-emphasis.less",
        "mixins/text-overflow.less",
        "mixins/vendor-prefixes.less",
        "mixins/vendor.less",
        "mixins/forms.less",
        "mixins/buttons.less",
        "mixins/background-variant.less",
        "mixins/border-radius.less",
        "mixins/gradients.less",
        "mixins/clearfix.less",
        "mixins/center-block.less",
        "mixins/grid-framework.less",
        "mixins/grid.less"
      ]
    },
    {
      "path": "rtl.less",
      "imports": [
        "variables.less",
        "mixins.less",
        "variables/variables-core.less",
        "mixins/hide-text.less",
        "mixins/responsive-visibility.less",
        "mixins/opacity.less",
        "mixins/image.less",
        "mixins/tab-focus.less",
        "mixins/text-emphasis.less",
        "mixins/text-overflow.less",
        "mixins/vendor-prefixes.less",
        "mixins/vendor.less",
        "mixins/forms.less",
        "mixins/buttons.less",
        "mixins/background-variant.less",
        "mixins/border-radius.less",
        "mixins/gradients.less",
        "mixins/clearfix.less",
        "mixins/center-block.less",
        "mixins/grid-framework.less",
        "mixins/grid.less"
      ]
    },
    {
      "path": "variables.less",
      "imports": [
        "variables/variables-core.less"
      ]
    },
    {
      "path": "woocommerce.less",
      "imports": [
        "variables.less",
        "mixins.less",
        "variables/variables-core.less",
        "mixins/hide-text.less",
        "mixins/responsive-visibility.less",
        "mixins/opacity.less",
        "mixins/image.less",
        "mixins/tab-focus.less",
        "mixins/text-emphasis.less",
        "mixins/text-overflow.less",
        "mixins/vendor-prefixes.less",
        "mixins/vendor.less",
        "mixins/forms.less",
        "mixins/buttons.less",
        "mixins/background-variant.less",
        "mixins/border-radius.less",
        "mixins/gradients.less",
        "mixins/clearfix.less",
        "mixins/center-block.less",
        "mixins/grid-framework.less",
        "mixins/grid.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"outputSuffix\":null}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"sourceMap\":true,\"output\":{\"relative\":\"min\"},\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}